<div class="row justify-content-center mt-5">
  <div class=" col-md-6 shadow shadow-lg p-4">
    <h2 class="text-center">Редактирование профиля</h2>
    <%= render 'form' %>
    <p class="buffer-top">
      <%= link_to 'Сменить пароль', edit_user_registration_path %>
    </p>
  </div>
</div>