<div class="row justify-content-center mt-5">
  <div class=" col-md-6 shadow shadow-lg p-4">
    <h2 class="text-center">Новое событие</h2>
    <div class="buffer-top">
      <%= render 'form' %>
    </div>
  </div>
</div>