<div class="row">
  <div class="col-md-6 buffer-top">
    <h1>Доступ только по пин-коду</h1>

    <%= form_tag('', method: 'post') do |f| %>
      <div class="form-group">
        <%= text_field_tag :pincode, params[:pincode], class: 'form-control', placeholder: t('activerecord.attributes.event.pincode') %>
      </div>

      <div class="form-group">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </div>

      <div class="actions">
        <%= submit_tag t('devise.shared.links.pincode_accept'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>