<div class="event-photo buffer-both float-left m-3">
  <% from = "#{t('activerecord.attributes.photo.from')}: #{render partial: 'users/user', object: photo.user}" %>

  <% if current_user_can_edit?(photo) %>
    <% delete_photo = "#{link_to(fa_icon('trash'), event_photo_path(photo.event, photo),
                        method: :delete, data: {confirm: t('controllers.photos.a_u_shure')}) }" %>
  <% end %>

  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url,
              data: {toggle: 'lightbox', gallery: 'event-photos-gallery', title: from, footer: delete_photo } %>

</div>